@font-face {
  font-family: 'Linearicons';
  src: url("../fonts/Linearicons-Free.ttf");
} 
@font-face{
  font-family: rsu-r;
  src: url(../fonts/RSU-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-b;
  src: url(../fonts/RSU-bold.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-l;
  src: url(../fonts/RSU-light.ttf);
  font-style: normal;
  font-variant:initial;
}
@font-face{
  font-family: rsu-rt;
  src: url(../fonts/RSU-Text-Regular.ttf);
  font-style: normal;
  font-variant:initial;
}
/* 
  img-fluid d-block mx-auto 
  transition: .33s all ease-out; 
*/
 
/*html {
  scroll-behavior: smooth;
}*/  
.b-0{
  margin-bottom: 0px;
}
/*.dropdown:hover>.dropdown-menu {
  display: block;
}*/
.tx-r{ 
  font-family: rsu-r;
} 
.btn-pink{
  color: #fff;
  background-color: #EA4C92;
  border-color: #EA4C92;
  font-family: rsu-r;
}
.btn-pink:hover{
  color: #fff;
  background-color: #DE4892;
  border-color: #DE4892;
}
.btn-pink-o{
  color: #EA4C92;
  background-color: #fff;
  border-color: #EA4C92;
  font-family: rsu-r;
}
.btn-pink-o:hover{
  color: #fff;
  background-color: #DE4892;
  border-color: #DE4892;
}
 
/* .navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position:relative;
}
.dropdown-submenu>.dropdown-menu {
  top:0;
  left:-100%;
  margin-top:-6px;
}  */
  
@media only screen and (max-width: 991px) { /* MOBILE */
  .mb-x{
    display: none !important;
  } 
}
@media only screen and (min-width: 992px) { /* PC */
  .pc-x{
    display: none !important;
  }  
}

a:hover{
  text-decoration: none;
}

.center-all{
  display: flex;
  align-items: center;
  justify-content: center;
} 
body{
  font-family: rsu-r;
}
header nav{ 
  background: #FFFFFF;
  box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.05);
}
.top-header{
  background: url(../images/xs.png) , #EE1E7B;
  background-repeat: no-repeat !important;
  background-position:  top left !important;
  background-size: auto 55px !important;
  height: 55px; 
}
.navbar-brand{
  color: #000;
  font-family: rsu-b;
  font-size: 28px;
}

header nav .nav.navbar-nav .nav-item .nav-link{ 
  color: #707070;
  font-family: rsu-b;
  font-size: 20px;
  transition: .33s all ease-out; 
  padding: 16px 20px 15px; 
  line-height: 35px;
}

header nav.navbar{ 
  padding-bottom: 0px;
  padding-top: 0px;
}
header nav .nav.navbar-nav .nav-item.active .nav-link{ 
  color: #EE1E7B;
  border-bottom: 3px solid #EE1E7B;
}
header nav .nav.navbar-nav .nav-item .nav-link:hover{ 
  color: #EE1E7B; 
}
.drop-menu{
  margin-top: -5px;
} 
.top-header{
  text-align: right; 
  padding-top: 15px;
}

.top-header a{
  text-align: right;
  color: #fff;
  font-family: rsu-b;
  font-size: 20px;
  padding-right: 30px;
}
.main-slide .carousel-item{
  height: 450px;
  width: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 100%  !important;
}
.main-slide .carousel-indicators{
  right: unset;
  margin-left: 30px;
  margin-bottom: 10px;
}
.main-slide .carousel-indicators li{
  opacity: 1;
  width: 40px;
  height: 6px;
}

.main-slide .carousel-indicators li.active{
  background-color: #EE1E7B;
  width: 40px !important;
  height: 6px !important;
}
.main-slide .carousel-item .col{
  margin: 30px;
  height: 380px;
  width: 50%;
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
}
.main-slide .carousel-item .col h1{
  color: #EE1E7B;
  font-family: rsu-b;
  font-size: 24px;
  margin-bottom: 15px;
}

.main-slide .carousel-item .col p{
  color: #fff;
  font-family: rsu-r;
  font-size: 16px;
  text-indent: 30px;  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;


}
.broad{
  height: 450px;
  background-color: #F8F8F8;   
  padding: 20px 15px 20px 15px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}

.broad h1{
  color: #EE1E7B;
  font-family: rsu-b;
  font-size: 26px;
  margin-bottom: 10px;
  padding-left: 10px;
}
.broad-new {
  padding: 15px 0px 0px;
  position: relative;
  border-bottom: 1px solid rgba(112, 112, 112, .3);
  overflow: hidden;
  position: relative;
  -webkit-transition: color .55s;
  transition: color .55s;
}
/*  
.broad-new:hover::before{
  content: ">";
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(0, 0, 0,1));
  
  display: flex;
  align-items: center;
  justify-content: center;
} */
 
.broad-new h3{
  color: #000000;
  font-family: rsu-b;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 75px;
}
.broad-new p{
  color: #656565;
  font-family: rsu-r;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-left: 75px;
}
.broad-new .imgx{
  height: 65px;
  width: 65px;
  border-radius: 100%;
  position: absolute; 
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 65px  !important;
}
.read{
  color: #EE1E7B;
  font-family: rsu-b;
  font-size: 18px;
  float: right;
  padding-top: 10px;
  -webkit-transition: color .55s;
  transition: color .55s;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 10px;
}
.read:hover {
  color: #000;
}

.alink{
  color: #EE1E7B;
  font-family: rsu-b;
  font-size: 18px; 
}
.alink:hover {
  color: #24AAE1;
}

.shad{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
}
.box0z{
  padding: 15px 25px 10px 25px; 
  margin-top: 30px;
}
.h3x{
  padding-top: 15px;
  font-family: rsu-b;
  color: #21146C;
  padding-bottom: 10px;
  border-bottom: 3px solid #24AAE1;
  position: relative;
  z-index: 1;
}
.h3x::before{
  content: "";
  width: 20%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background-color: #EE1E7B; 
} 
.alumni-des h3{
  color: #EE1E7B;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: rsu-b; 
  font-size: 22px;
  height: 40px;
}
.alumni-des h4{
  color: #21146C;
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: rsu-b; 
  font-size: 20px;
}

.alumni-des p{
  color: #000; 
  margin-bottom: 0px;
  font-family: rsu-r; 
  font-size: 16px;
}
.alumni-des .box-img{
  width: 50%; 
  height: 230px;
  float: left;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 100%   !important;
  border: 2px solid #707070; 
}

.alumni-des .box-text{
  position: relative;
  width: 50%;
  padding: 10px;
  float: left;
}

.lSAction{
  display: none !important;
} 
.lSSlideOuter .lSPager.lSpg > li a{
  width: 15px !important;
  height: 15px !important;  
  background-color: rgba(238, 30, 123 ,.25) !important;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
  background-color: rgba(238, 30, 123) !important;
}


.lSSlideOuter .lSPager.lSpg {
  margin: unset !important;
}


.news-box{
  margin-top: 15px;
  padding: 0px 0px 10px 0px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25);
  display: flex;
  height: 200px;
}
 
.news-box .box-img{
  width: 200px; 
  height: 160px;
  float: left;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 160px   !important; 
}

.news-box .box-text{ 
  width: 60%;
  padding: 10px 10px; 
}
.news-box .box-text h3{
  color: #21146C;
  font-family: rsu-b;
  font-size: 22px;  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 55px;
}
.news-box .box-text p{
  color: #000;
  font-family: rsu-r;
  font-size: 16px;  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news-box .read{
  margin-right: 30px !important; 
}
.news-box .read{
  margin-right: 30px !important;
}
.news-box .fter{
  position: absolute;
  left: 0px;
  bottom: 0px; 
  margin-bottom: 5px; 
}
.news-box .fter span{ 
  margin-left: 25px;
} 
.banner-alu{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% auto   !important; 
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  transition: .65s all ease-out; 
}
.banner-alu span{
  z-index: 9;
  color: #fff;
  font-size: 40px;
  position: relative;
  transition: .65s all ease-out; 
}
.banner-alu::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.35);
  transition: .65s all ease-out; 
}
.banner-alu:hover::after{ 
  background:rgba(0, 0, 0, 0.65);
}
.banner-alu:hover span{
  /* color: rgba(238, 30, 123) !important; */
  color: #fff;
}
.banner-alu:hover span::after{
  position: absolute;
  font-family: 'Linearicons';
  content: "\e876 \e876"; 
  font-size: 20px;
  margin-top: 14px;
}
footer .top{
  background-color: #2A2A2A;
  padding: 30px;
}
footer .bot{
  background-color: #DE4892;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  height: 45px;
}
footer .top hr{
  border-top: 3px solid #3C3C3C;
}

footer .top h2{
  color: #EE1E7B;
  font-family: rsu-b;
  font-size: 22px;  
}
footer .top h4{
  color: #fff;
  font-family: rsu-b;
  font-size: 22px;  
}
footer .top h6{
  color: #707070;
  font-family: rsu-b;
  font-size: 16px;  
}
footer .top .box-spirit{
  min-height: 400px;
  border-right: 3px solid #3C3C3C;
}

footer .top > .row .col-xl-6:last-child .box-spirit{ 
  border-right: unset;
}

.box-spirit ul{
  list-style: none;
  padding-left: 0;
  padding-right: 10px;
}
.box-spirit ul li{
  display: block;
  position: relative;
  border-bottom: 1px solid #3C3C3C;
  padding-bottom: 10px;
}
.box-spirit ul li div{
  position: absolute;
  left: 0;
  top: 0;
  width: 140px;
  height: 100px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: auto 100px   !important; 
}
.box-spirit ul li h3{
  color: #fff;
  font-family: rsu-b;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  padding-left: 155px;
}
.box-spirit ul li p{
  color: #707070;
  font-family: rsu-r;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-left: 155px;
  margin-bottom: 5px;
}
.box-spirit ul li a{
  color: #24AAE1;
  font-family: rsu-r;
  font-size: 16px; 
  float: right;
  margin-right: 15px;
  padding-bottom: 20px;
}
.box-spirit ul li a:hover{
  color: #70a0b2; 
}
.box-spirit ul li span{
  padding-left: 155px;
  color: #fff;
  font-family: rsu-r;
  font-size: 16px;  
}
.linkf{
  float: right;
  font-size: 20px;
  color: #fff;
  transition: .33s all ease-in; 
  padding-right: 25px;
}
.linkf:hover{ 
  color: #707070; 
  text-decoration: underline;
} 
.ppb{
  width: 100%;
  height: 200px;
  background: #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
  transition: .65s all ease-out; 
} 
.ppb h1{
  color: #000;
  font-family: rsu-b;
  font-size: 36px;  
}
.search-input{
  float: right;
  position: relative;
  z-index: 3;
  width: 250px;
  height: 40px;
  padding-left: 0;
  margin-top: -60px;
  border: unset;
  border-radius: 0px;
  border-bottom: 2px solid #21146C;
  color: #21146C;
  font-size: 18px;
  font-family: rsu-b;
}
.search-input::placeholder{ 
  color: #21146C;
  font-size: 18px;
}
.search-input + .btn-search{
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  border: unset;
  background-color: transparent;
  z-index: 4;
  margin-top: 15px;
  margin-right: 15px;
}
.search-input:focus{
  outline: none !important;
  border:unset; 
  border-bottom: 2px solid #21146C;
  box-shadow: unset;
}


ul.number {
  display: flex;
  list-style: none; 
  margin: auto;
  padding-left: 0px;
  margin-top: 32px;
  margin-bottom: 40px;
  height: 40px !important;
  align-items: center;
  justify-content: center;
}
ul.number li {
  display: block; 
  height: 38px !important;
  width: 38px !important;
  text-align: center;
  color: #DE4892;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;  
  margin-left: 4px;
  margin-right: 4px;  
}
ul.number li a{ 
  color: #DE4892;  
  font-family: rsu-b;
  transition: .33s all ease-out; 
  border: 2px solid #DE4892; 
 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px !important;
  width: 38px !important;
}
ul.number li a:hover{ 
  background: #DE4892; 
  color: #fff; 
}
ul.number li.active a{ 
  background: #DE4892; 
  color: #fff; 
}

ul.number li:first-child a::before{ 
  font-family: 'Linearicons';
  content: "\e875"; 
  font-size: 13px;
  color: #DE4892;
}
ul.number li:first-child a:hover::before{  
  color: #fff;
} 
ul.number li:last-child a::before{ 
  font-family: 'Linearicons';
  content: "\e875"; 
  font-size: 13px;
  color: #DE4892;
  transform: rotate(180deg);
}
ul.number li:last-child a:hover::before{  
  color: #fff;
}
.career .box-text h3{
  -webkit-line-clamp: 1;
  height: unset !important;
}
.career .box-text p{
  margin-bottom: 0px;
}
.news-box.career-news {
  height: unset !important;
  display: block !important;
}
.news-box.career-news .box-img{
  display: block !important;
  width: 100% !important;
  float: unset !important; 
  background-size: 100% 200px !important;
  height: 200px; 
}
.news-box.career-news .box-text{
  display: block !important;
  width: 100%;
  float: unset !important; 
}
.mhig{
  min-height: 550px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100% !important;
}
.bootstrap-select .dropdown-menu{
  width: 100% !important;
}
.bootstrap-select{
  border: 1px solid #ced4da;
  border-radius: .25rem; 
  font-size: 16px !important;
}
.filter-option-inner-inner{
  font-size: 14px !important;
}
.btn.dropdown-toggle.btn-light{
  background-color: #fff !important;
}
.bootstrap-select .text{
  font-size: 16px !important;

}
.gallery-box{
  border-bottom: 1px solid rgba(112, 112, 112, .5);
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.ffter{
  margin-bottom: 20px;
}

.gallery-box h3{
  color: #21146C;
  font-family: rsu-b;
}
.gallery-box p{
  color: #000;
  font-family: rsu-r;
}
.gallery-box .ffter span{
  font-size: 14px;
}



.gallery-box .ffter a{
  float: right;
  color: #EE1E7B;
}

@media only screen and (max-width: 991px) { /* MOBILE */
  
  .news-box.career{
    height: 380px;
  }
  .main-slide .carousel-item .col {
    width: 85%;
  } 
  .navbar-brand{
    padding-top: 10px;
    font-size: 18px;
  }
  .news-box{
    display: block;
    height: 320px; 
    border-radius: 4px;
  }
  .news-box .box-img{
    width: 100%; 
    float: unset;
    border-radius: 4px 4px 0 0;
    background-size: auto 162px !important;
  }
  .news-box .box-text{
    float: unset;
    width: 100%; 
    padding: 10px;
    height: 150px;
  }  
  .news-box .box-text h3{
    font-size: 20px;
    height: unset;
    -webkit-line-clamp: 1;
  }
  .news-box .box-text p{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .news-box .fter{  
    font-size: 14px;
    margin-bottom: 11px;
  } 
  .banner-alu{
    height: 150px;
  }
  
  footer .top > .row .col-xl-6 .box-spirit{ 
    border:unset;
    /* border-bottom: 3px solid #3C3C3C; */
  }
  .alink h3{
    margin-top: 20px;
  }
  header nav .nav.navbar-nav .nav-item .nav-link{
    padding: 5px 0px;
  }
  header nav .navbar-collapse.show{
    padding-bottom: 20px !important;
  }
  .box-spirit ul li span { 
    font-size: 13px;
  }
  .box-spirit ul li div {
    width: 100px;
  }
  .box-spirit ul li h3 {
    padding-left: 115px;
  }
  .box-spirit ul li p{
    padding-left: 115px;
  }
  .box-spirit ul li span{
    padding-left: 115px;
  }
  .box-spirit ul li a { 
    margin-right: 5px;
    padding-bottom: 15px;
  }
  .linkf{
    padding-right: 0px;
    font-size: 18px;
  }
  footer .top h2{ 
    margin-top: 25px; 
  }
  .ppb{ 
    height: 100px; 
  } 
  .ppb h1{ 
    font-size: 26px;  
  }
  .h3x{
    font-size: 22px;
  }
  .search-input{
    float: unset;
    margin-top: 0px;
    width: 100%;
  }.search-input + .btn-search { 
    margin-top: 70px !important; 
  }
  .news-box.career-news {
    min-height: 380px;
  }
}


/*
169BD5 ฟ้า
70a0b2 ฟ้า2
EA4C92 ชมพู
DE4892 ชมพู2
707070 เทาเข้ม
1A1C45 น้ำเงิน
*/


